/*
* @Author: ASUS
* @Date:   2018-01-07 08:17:47
* @Last Modified by:   ASUS
* @Last Modified time: 2018-01-07 08:20:41
*/
.footer{
    margin-top: 20px;
    padding-bottom: 10px;
}
.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
    padding: 0 10px;
}
.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}